perspective-carousel {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  position: relative;

  container-name: carousel;
  container-type: inline-size;

  carousel-item {
    --lighten-factor: 0; /* Should range only between 0 and 1 */
    --blur: 0px;
    --brightness: 1;
    --transition-duration: 0.5s;
    --lighten-filter: blur(var(--blur)) invert(calc(var(--lighten-factor) / 2)) brightness(calc(1 + var(--lighten-factor)));
    --darken-filter: blur(var(--blur)) invert(0) brightness(var(--brightness));

    filter: var(--darken-filter);
    opacity: 1;

    position: absolute;
    top: 50%;
    transform: translate(calc(50cqw - 50%), -50%);
  }

  &[active] {
    carousel-item {
      transition: all var(--transition-duration) ease-in-out;
    }
  }

  /** Lighten */
  &[fade-mode="lighten"] {
    caoursel-item {
      filter: var(--lighten-filter);
    }

    [data-distance="1"],
    [data-distance="2"] {
      --lighten-factor: 0.1;
      filter: var(--lighten-filter);
    }

    [data-distance="3"],
    [data-distance="4"] {
      --lighten-factor: 0.2;
      --blur: 2px;
      filter: var(--lighten-filter);
    }
  }

  /** Darken */
  &[fade-mode="darken"] {
    [data-distance="1"],
    [data-distance="2"] {
      --blur: 0px;
      --brightness: 0.8;
      filter: var(--darken-filter);
    }

    [data-distance="3"],
    [data-distance="4"] {
      --blur: 2px;
      --brightness: 0.3;
      filter: var(--darken-filter);
    }
  }
}
