.container {
  display: block;
  width: 100vw;
  height: 50vh;

  background-color: black;
  overflow: hidden;
  position: relative;

  > * {
    grid-area: 1 / 1; /* force all elements to stack in a single cell */
  }

  perspective-carousel,
  .backdrop {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  carousel-item {
    img {
      height: 40vh;
    }
  }

  img {
    display: block;
  }
}

.input-form {
  display: inline-flex;
  flex-wrap: wrap;

  input {
    width: 300px;
  }
}
